/*Bloco Principal (menu, editor, projeto)*/


/*Botoes do Menu*/

.fundo-btn-editor{
    background-color: #5081FB;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-btn-editor:hover{
    background-color: #7BA4FC;
    cursor: pointer;
}
.fundo-btn-editor:active{
    border: 2px solid rgba(80, 128, 251, 720)
}

.fundo-btn-editor:focus{
    background-color: rgb(150, 185, 253);
}

.fundo-btn-comunidade{
    background-color: rgba(255, 255, 255, 0.080);
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-btn-comunidade:hover{
    background-color: rgba(255, 255, 255, 0.160);
    cursor: pointer;
}
.fundo-btn-comunidade:active{
    border: 2px solid rgba(255, 255, 255, 0.240);
}

.fundo-btn-comunidade:focus{
    background-color: rgba(255, 255, 255, 0.240);
}


/*Página Comunidade - Menu*/

.fundo-btn-editor-p2{
    background-color: rgba(255, 255, 255, 0.080);
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-btn-editor-p2:hover{
    background-color: rgba(255, 255, 255, 0.160);
    cursor: pointer;
}
.fundo-btn-editor-p2:active{
    border: 2px solid rgba(255, 255, 255, 0.240);
}

.fundo-btn-editor-p2:focus{
    background-color: rgba(255, 255, 255, 0.240);
}

.fundo-btn-comunidade-p2{
    background-color: #5081FB;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo-btn-comunidade-p2:hover{
    background-color: #7BA4FC;
    cursor: pointer;
}
.fundo-btn-comunidade-p2:active{
    border: 2px solid rgba(80, 128, 251, .720);
}

.fundo-btn-comunidade-p2:focus{
    background-color:  rgb(150, 185, 253);
}


/*Menu*/
.menu {
    padding-left: 32px;
}

.menu-btn {
    display: flex;
    align-items: center;
    width: 189px;
    height: 48px;
    padding-top: 16px;
}

.menu-btn p {
    padding-left: 8px;
    font-size: 1em;
}

.menu-btn p:hover {
    cursor: pointer;
}

.avatar-menu{
    display: none;
}

/*Projeto - Informações*/

.container-projeto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 18px;
}

.projeto{
    display: flex;
    flex-direction: column;
    width: 272px;
}

#input-nomeDoProjeto, #input-descricaoProjeto{
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.160);
    color: white;
}

#input-nomeDoProjeto{
    height: 56px;
}

#input-descricaoProjeto {
    height: 80px;
}

#input-nomeDoProjeto:hover, #input-descricaoProjeto:hover, .projeto select:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

.label-projeto{
    padding: 12px 0 6px 2px;
}

.projeto select{
    font-family: 'Inter', sans-serif;
    height: 56px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.160);
    color: white;
}

.projeto select option{
    background-color: rgba(5, 29, 59, 0.84);
}

legend{
    font-family: 'Inter', sans-serif;
    padding: 12px 0 0 2px;
}

#input-colorpicker{
    height: 56px;
    width: 100%;
    border: solid 3px rgba(5, 29, 59, 1);
    border-radius: 8px;
}

/*https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color*/

input[type="color"] {
	-webkit-appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
input[type="color"]::-webkit-color-swatch {
    border-style: none;
    border-radius: 9px;
    padding: 0;
    margin: 0;
    background: none;
}
.fundo-input {
    padding: 3px;
    margin: 0;
    border: solid 1px white;
    border-radius: 8px;
}

.salvar{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin-top: 12px;
    height: 56px;
    border-radius: 8px;
    background-color: #5081FB;
    border: none;
    color: #051D3B;
    line-height: 24px;
}

.salvar:hover{
    background-color: #7BA4FC;
    cursor: pointer;
}

.salvar:active{
    border: 5px solid rgba(80, 128, 251, 720)
}

.salvar:focus{
    background-color: rgb(150, 185, 253);
}

/*Editor de código*/
.editor-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;
    height: auto;
}

.editor-fundo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #6BD1FF;
    width: 752px;
    min-height: 398px;
    height: auto;
    border-radius: 8px;
    padding-top: 4%;
}
.fundo-preto{
    background-color: black;
    width: 92%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.codigo-wrapper {
    width: 100%;
    background-color: black;
}

.editor{
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    width: 100%;
    min-height: 302px;
    height: auto;
    border-radius: 0 0 8px 8px; 
    color: white;
}


.bolinhas {
    margin-bottom: 1%;
}

.bolinha-vermelha{
    padding: 14px 0 0 8px;

}

.highlight{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.080);
    color: white;
    border: none;
}

.highlight:hover{
    background-color: rgba(255, 255, 255, 0.160);
    cursor: pointer;
}

.highlight:active{
    border: 5px solid rgba(255, 255, 255, 0.240);
}

.highlight:focus{
    background-color: rgba(255, 255, 255, 0.240);
}


/* Botão de Menu */
#menuDropDown {
    display: none;
}

/*Página Comunidade - editor*/

.editor-container.comunidade{
    height: 470px;
    width: 48%;
    max-width: 700px;
    margin-top: 1%;
}

.comunidade .editor-fundo{
    display: flex;
    background-color: #6BD1FF;
    width: 100%;
    height: 288px;
    border-radius: 8px;
}

.comunidade .editor{
    background-color: black;
    width: 90%;
    height: 73%;
    border-radius: 0 0 8px 8px; 
    color: white;
    border: none;
}

.comunidade .bolinhas {
    background-color: black;
    width: 90.6%;
    height: 32px;
    border-radius: 8px 8px 0 0;
    padding:0
}

.rodape__editor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.rodape__editor__interacao{
    display: flex;
    align-items: center;
}
.rodape__editor__comentarios{
    display: flex;
    align-items: center;
}
.rodape__editor__curtirdas{
    display: flex;
    align-items: center;
}
.rodape__editor__avatar{
    display: flex;
    align-items: center;
}

.rodape__editor p{
    margin-left: 10px;
}

.rodape__editor_container{
    padding: 4%;
    height: 30%;
    line-height: 32px;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.pagina2{
    margin-left: 11.7%;
    padding-left: 0;
}
/* .rodape__editor_container:nth-child(3){
    margin-left: 120px;
} */
.comunidade__grid{
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5%
}


/**/
.codigo-wrapper {
    height: 100%;

    margin-bottom: 32px;
}

.preview {
    display: block;

    padding: 10px;

    box-sizing: border-box;

    border-radius: 7px;

    height: 100%;
}