body{
    background-color: black;
    font-size: 16px;
    color: white;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: rgba(5, 29, 59, 1);
}

main{
    background-color: rgba(5, 29, 59, 1);
    height: 9999px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: unset;
}
