/*Media Query - Tablet*/

@media screen and (max-width:1024px){
    /*Superior*/
    .container{
        margin: 0 0.5% 0 0.5%;
    }
    #barraDePesquisa{   
        width: 100%;
    }
    #input-busca{
        width: 92%;
        height: 56px;
        margin-left: 20px;
    }
    .container .avatar{
        display: none;  
    }   
    
    /* Botão e menu */

    .menu{
        display: none;
        padding: 2%;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.160);
        margin-right: 6%;
    }

    #menuDropDown{
        display: unset;
    }

    #menuDropDown__botao{
        display: none;
    }
    #menuDropDown__imagem{
        display: unset;
        width: 24px;
        height: 24px;
    }
    
    label[for="menuDropDown__botao"]{
        display: unset;
    }
    
    #menuDropDown__botao:checked ~ .menu {
        display: unset;
    }

    .avatar-menu{
        display: flex;
        margin-top: 20%;    
        border-top: 1px solid rgba(255, 255, 255, 0.13) ;
        padding-top: 20%;
        padding-left: 4%;
        width: 100%;
    }
    .avatar-menu .avatar {
        display: flex;
        align-items: center;
    }

    /*Bloco Principal*/
    main{
        display: flex;
        justify-content: space-between  ;
        flex-wrap: wrap;
        height: auto;
    }
    .container-projeto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .projeto{
        display: flex;
        flex-direction: column;
        width: 92%;
    }
    .editor-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
        width: 50%;
        flex-grow: 1;
        order: -1;
        margin-right: 2%;
    }
    .editor-fundo{
        width: 92%;
        height: 398px;  
    }
    .editor{
        width: 90%;
        height: 302px;
    }
    .bolinhas {
        width: 90.5%;
        height: 32px;
    }
    .highlight{
        margin-top: 4%;
        width: 92%;
        height: 56px;
    }
    .projeto legend{
        margin-top: 1%;
    }

    .personalizacao .projeto:nth-child(1){
        width: 47%;
        padding: 0;
        margin: 0;
    }
    .personalizacao .projeto:nth-child(2){
        width: 47%;
        padding: 0;
        margin: 0;
    }
    .personalizacao{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 92%;
        height: 120px;
        text-align: center;
    }
    #input-colorpicker{
        height: 46px;
        border: solid 1px rgba(5, 29, 59, 1);
        border-radius: 8px;
    }
    
}

@media screen and (max-width:630px){
    #input-busca{
        display: none;
    }
    #barraDePesquisa__botao{
        display: none;
    }

    #barraDePesquisa__imagem{
        display: unset;
    }
    #barraDePesquisa{
        display: flex;
        justify-content: flex-end;
        margin-right: 8%;
    }
    .personalizacao{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        text-align: left;
        width: 92%;
        height: auto;
    }

    .projeto legend{
        margin-top: 1%;
    }

    .personalizacao .projeto:nth-child(1){
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .personalizacao .projeto:nth-child(2){
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    #input-colorpicker{
        height: 46px;
        border: solid 1px rgba(5, 29, 59, 1);
        border-radius: 8px;
    }

    .editor-container{
        height: auto;
    }
    .editor-fundo{
        width: 92%;
        height: 520px;  
    }
    .editor{
        width: 84%;
        height: 84%
    }
    .bolinhas{
        width: 84%;
        margin: 0;
        padding: 0.5%;
    }
    #menuDropDown__botao:checked ~ .menu {
        display: block;
        position: absolute;
        left: 40%;
        background-color: #2D415B;
        height: 79%;
    }
}

/* Responsivo da Página Comunidade */

@media screen and (max-width:1024px){
    .comunidade__grid{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .editor-container.comunidade{
        width: 90%;
        height: auto;
        max-width: unset;
        padding: 2% 0 0 0;
        margin: 0;
        justify-content: unset;
    }
    
    .comunidade .editor-fundo{
        background-color: #6BD1FF;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .comunidade .editor{
        width: 90%;
        height: 73%;
        padding: 0;
        margin: 0;
    }
    
    .comunidade .bolinhas {
        width: 90%;
        height: 32px;
    }
    .rodape__editor_container{
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .rodape__editor_container h1, .rodape__editor_container p, .rodape__editor{
        padding: 0 4%;
    }
    .rodape__editor_container h1{
        padding-top: 4%;
    }
    .rodape__editor{
        padding-top: 30px;
        padding-bottom: 4%;
        width: 90%;
    }
    .rodape__editor p{
        margin-left: 10px;
    }
    .pagina2{
        padding: 0;
        margin: 0;
    }
    #menuDropDown__botao:checked ~ .comunidade{
        display: block;
        position: absolute;
        left: 70%;
        background-color: #2D415B;
        height: 79%;
    }
}
@media screen and (max-width:630px){
    #menuDropDown__botao:checked ~ .comunidade{
        left: 42%;
    }
}
@media screen and (max-width:320px){
    #menuDropDown__botao:checked ~ .comunidade{
        left: 32%;
    }
}